
<tr class="fields">
    <td> <%= f.text_field :number ,:value => '1' %></td>
    <td colspan="2"> <%= f.text_field :service_name ,:value => 'Business Representation Services' %></td>
    <td> <%= f.text_field :quantity,:value => '1' %></td>
    <td> <%= f.text_field :unit_price,:value => '1279' %></td>
    <td> <%= f.text_field :total_price ,:value => '1279' %></td>


  </tr>
