<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag 'application' -%>
    <%= wicked_pdf_stylesheet_link_tag 'font' -%>
    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'font' %>
  </head>
  <body>
    <div id="content">
      <%= yield %>
    </div>
            <div class="right-side-text">
  黎涛（上海）商务服务有限公司 Shanghai World Financial Center 28 Floor 上海环球金融中心28层 86-21-20520631 www.litao.lt
</div>
  </body>
</html>
